@import url('sidebar.css');
@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: var(--primaryColor);
}

::selection {
    color: white;
    background: var(--primaryColor);
}

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}

.bold {
    font-weight: bold;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.fit-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    text-align: center;
}

.column {
    display: inherit;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    display: inherit;
    flex-direction: row;
    width: 100%;

}

.margin-8 {
    margin: 8px
}

.row-gap-12 {
    margin: 0 0 0 12px;
}

.row-gap-24 {
    margin: 0 0 0 24px;
}

.row-gap-48 {
    margin: 0 0 0 48px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-30 {
    padding: 50px;
}

.center {
    margin: auto;
}

.blue {
    color: blue;
}

.light-dark {
    color: var(--text-color-light);
}

.white {
    color: #fff;
}

.blue-bg {
    background-color: blue;
}

.bg-light {
    background-color: #fff;
}

.bg-light-2 {
    background-color: var(--bg-light-2);
}

.bg-dark {
    background-color: black;
}

.title {
    font-size: 1.8rem;
}

.subtitle {
    font-size: 1.5rem;
}

.text {
    font-size: 1rem;
}

.border {
    border: 1px solid var(--borderColor);
}

.radius {
    border-radius: 10px;
}

.form-field-icon {
    padding: 8px 0px;
    position: relative;
}

.field-icon {
    position: absolute;
    left: -10px;
    top: 18px;
    color: var(--primaryColor);
}

.field-input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 20px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.field-input:active,
.field-input:focus,
.field-input:hover {
    outline: none;
    border-bottom-color: var(--primaryColor);
}

.form-button {
    background-color: var(--primaryColor);
    border: none;
    width: calc(100% - 25px);
    padding: 10px;
    transition: .2s;
}

.form-button:hover {
    background-color: var(--hoverPrimary);
    transition: .2s;
}

.large-card {
    width: 100%;
    height: fit-content;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
}

.info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    padding: 4px 6px;
    font-size: 0.8rem;
}

.danger {
    background-color: var(--danger-color);
    color: var(--danger-text-color);
}






/* Switch */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--primaryColor);
}

input:focus+.slider {
    box-shadow: 0 0 1px none;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}