@import url('sidebar.css');
@import url('colors.css');
@import url('responsive.css');
@import url('loading.css');
@import url('upload.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: var(--primaryColor);
}

::selection {
    color: white;
    background: var(--primaryColor);
}

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}

.bold {
    font-weight: bold;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fit-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.overflow-h{
    overflow: hidden;
}

.justify-center {
    text-align: center;
}

.column {
    display: inherit;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.row {
    display: inherit;
    width: 100%;
    height: fit-content;
}

.r-padding-15 {
    padding: 15px;
}

.margin-15{
    margin: 15px;
}

.margin-h-15{
    margin: 15px;
}

.no-margin {
    margin: 0 !important;
}



.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.t-padding-15 {
    padding-top: 15px;
}

.t-padding-5 {
    padding-top: 5px;
}

.l-padding-15 {
    padding-left: 15px;
}

.tl-padding-15 {
    padding-top: 15px;
    padding-left: 15px;
}

.padding-30 {
    padding: 50px;
}

.center {
    margin: auto;
}

.blue {
    color: blue;
}

.light-dark {
    color: var(--text-color-light);
}

.white {
    color: #fff;
}

.blue-bg {
    background-color: blue;
}

.bg-light {
    background-color: #fff;
}

.bg-light-2 {
    background-color: var(--bg-light-2);
}

.bg-dark {
    background-color: black;
}

.title {
    font-size: 1.8rem;
}

.subtitle {
    font-size: 1.5rem;
}

.small-title {
    font-size: 1.2rem;
}

.text {
    font-size: 1rem;
}

.small-text {
    font-size: 0.8rem;
}

.border {
    border: 1px solid var(--borderColor);
}

.action {
    width: fit-content;
    display: block;
    padding: 8px;
    height: fit-content;
    margin-top: 20px;
}

.span {
    background-color: var(--span);
    margin: 8px 10px 0 0;
    height: 1px;
    width: 100%;
}

.radius {
    border-radius: 10px;
}

.form-field {
    width: 100%;
}

.form-field>input {
    width: calc(100% - 20px);
    padding: 9.5px 6px;
    border: 1px solid var(--span);
    outline: none;
}

.form-field-icon {
    padding: 8px 0px;
    position: relative;
}

.field-icon {
    position: absolute;
    left: -10px;
    top: 18px;
    color: var(--primaryColor);
}

.field-input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 20px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.field-input:active,
.field-input:focus,
.field-input:hover {
    outline: none;
    border-bottom-color: var(--primaryColor);
}

.form-button {
    background-color: var(--primaryColor);
    border: none;
    width: calc(100% - 25px);
    padding: 10px;
    transition: .2s;
}

.form-button:hover {
    background-color: var(--hoverPrimary);
    transition: .2s;
}

.large-card {
    margin: 10px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
}

.info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    padding: 4px 6px;
    font-size: 0.8rem;
    width: fit-content;
}

.danger {
    background-color: var(--danger-color);
    color: var(--danger-text-color);
}

.accent {
    background-color: var(--primaryColor);
    color: white;
}

.success {
    background-color: var(--success-color);
    color: var(--success-text-color);
}

.text-danger{
    color: var(--danger-text-color);
}

.text-success{
    color: var(--success-text-color);
}

.text-warning{
    color: var(--warning-text-color);
}

.left {
    float: left;
}

.right {
    float: right;
}

.message-pfp {
    height: 2rem;
    width: 2rem;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: var(--bg-light);
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: .35em;
}

table th{
    background-color: var(--bg-light-3);
}

table th,
table td {
    padding: 1.5em .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}


















/* Switch */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--primaryColor);
}

input:focus+.slider {
    box-shadow: 0 0 1px none;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Checkbox */

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 4px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #e6e6e6;
}

.control input:checked~.control_indicator {
    background: #fa1313;
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    background: #fc3b13;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.control-checkbox input+.control_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked+.control_indicator::before {
    animation-name: s-ripple-dup;
}